body {
  font-family: 'Segoe UI', sans-serif;
  background-color:   #f9f9f7;
  margin: 20px;
  padding: 0;
  color:  #111;
}

h1, h2 {
  text-align: center;
  color: #222;
}

#menu, #info, form, hr, h2, input, button {
  margin: 15px auto;
  max-width: 600px;
  display: block;
  text-align: center;
}

button {
  padding: 8px 15px;
  margin: 5px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.oculto {
  display: none;
}

button:hover {
  background-color:  #111;
}

input[type="text"], input[type="number"] {
  padding: 8px;
  margin: 5px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"], input[type="number"], button {
  display: block;
  margin: 10px auto;
  text-align: center;
}

input::placeholder {
  text-align: center;
}

#info {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}


#btnConfirmarBorrado {
  text-align: center;
}